<%if dotobjecttext.canView?(@current_user) %>
<div class="dotoutline">
	<div class = "dot">
		<br>
		<b><%=link_to "#{dotobjecttext.title}", view_text_dot_path(:id => dotobjecttext.id), :method => :get, :class=>"dotobjecttexttext"%></b>
		<i><p class = "dotobjecttexttext"><%=dotobjecttext.desc.truncate(36, :seperator => ' ')%></p></i>
		<% if dotobjecttext.desc.length <= 21 %>
		<br>
		<%end%>
		<%=link_to raw("<i class = \"fa fa-2x fa-fw fa-thumbs-up updot\"></i>") , votefor_dotobjecttext_path(dotobjecttext), :method => :post%>
		<%=link_to raw("<i class = \"fa fa-2x fa-fw fa-thumbs-down downdot\"></i>"), voteagainst_dotobjecttext_path(dotobjecttext), :method => :post%>
		<br>
		<b>
		<% if dotobjecttext.plusminus > 0 %>
		<span class = "up"><%=dotobjecttext.plusminus%></span>
		<% elsif  dotobjecttext.plusminus == 0%>
		<span><%=dotobjecttext.plusminus%></span>
		<%else%>
		<span class = "down"><%=dotobjecttext.plusminus%></span>
		<% end %>
		| <%=Comment.where(:asset => dotobjecttext.id).count%>
	</b>
	</div>
</div>
<%end%>
