<div id="pageText">
<ul>
<%User.order("id ASC").each do |user|%>
	<%if !user.banned %>
		<div class = "dir_user"><%=link_to(image_tag(User.where(:id => user.id).take(1).fetch(0).avatar.url(:thumb), :alt => User.where(:id => user.id).take(1).fetch(0).name, :title => User.where(:id => user.id).take(1).fetch(0).name, :class => "avatar"), profile_path(:id => user.id)) %>
			<li><%=link_to user.name, profile_path(:id => user.id)%></li>
		<div class="userbadge">
		<% if user.title == 5 %>
			<span class="TitleAdmin"><i class="fa fa-lg fa-fw fa-shield"></i>Administrator </h2>
		<%end%>
		<% if user.title == 4%>
			<span class="TitleDev"><i class="fa fa-lg fa-fw fa-gear"></i>Developer </h2>
		<%end%>
		<% if user.title == 3%>
			<span class="TitleMod"><i class="fa fa-lg fa-fw fa-legal"></i>Moderator </h2>
		<%end%>
		<% if user.title == 2%>
			<span class="TitleSup"><i class="fa fa-lg fa-fw fa-rocket"></i>Beta Tester </h2>
		<%end%>
		<% if user.title == 1%>
			<span class="TitleDon"><i class="fa fa-lg fa-fw fa-heart"></i>Donor </h2>
		<%end%>
		<% if user.title == 0%>
			<span class="TitleMember"><i class="fa fa-lg fa-fw fa-user"></i>Member </h2>
		<%end%>
		</div>		
			<%if !user.bio%>
			<em> This user has no bio...</em>
			<%else%>
			<em><%=user.bio.truncate(167, :seperator => ' ')%></em>
			<%end%>
		</div>
	<%else%>
		<div class= "dir_user" ><%=image_tag(User.where(:id => user.id).take(1).fetch(0).avatar.url(:thumb), :alt => User.where(:id => user.id).take(1).fetch(0).name, :title => User.where(:id => user.id).take(1).fetch(0).name, :class => "avatar")%>
			<li><del><%=user.name%></del></li>
			<span class="TitleBanned"><i class="fa fa-lg fa-fw fa-ban"></i>Banned - <%=user.reason%></h2>
			</div>

	<%end%>
<%end%>
</ul>
</div>