<div id="pageText">
<h1> <i><%=@current_user.name%>'s</i> Feed </h1>
<br/>
<ul class="feedlist">
	<%if @current_user.all_following.empty? %>
	<h2> You haven't followed anyone! </h2>
	<%else%>
		<%@current_user.all_following.each do |foll|%>
		    <%@dotobjecttexts = Dotobjecttext.where(creator:foll.id)%>
			<li><h3><%=foll.name%></h3></li>
			<%if !@dotobjecttexts.empty?%>
			<%= render partial:"dotobjecttext", collection:@dotobjecttexts.last(5).reverse %>
			<%else%>
			<p> This user hasn't posted anything! </p>
			<%end%>
		<%end%>
	<%end%>
</ul>
</div>