<div id="pageText">
<% if flash[:notice] %>
      <p class="notice"><i class = "fa fa-lg fa-fw fa-exclamation-circle"></i><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><i class = "fa fa-lg fa-fw fa-times-circle"></i><%= flash[:error] %></p>
 <% end %>
<h1> <i> Welcome to Dot! </i> </h1>
<h2> The media networking site! </h2>
<% if @current_user == nil %>
<h2> <i> <%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', signup_path %> to get started! </i> </h2>
<%end%>
<hr>
<div class = "splashText">
	<div class = "userbox">
		<h2> Newest Users: </h2>
		<br>
		<%User.last(5).reverse.each do |use|%>
			<h4><%=link_to use.name, profile_path(:id => use.id)%></h4>
			<h4>Joined on <%=use.joined%></h4>
		<%end%>
	</div>
</div>
<!--<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fpunktnews.tumblr.com%2Frss&chan=y&num=10&desc=1&au=y&date=y&utf=y"  charset="UTF-8" type="text/javascript"></script>-->
<div class="newsElement">
	<h1>News From Punkt</h1>
	<%@newsDot = Dotobjecttext.where(:creator => User.where(:name => "PunktCreativeOfficial").first.id).last%>
	<%if @newsDot != nil%>
		<h2><%=@newsDot.title%></h2>
		<h3><%=@newsDot.desc%></h3>
		<p><%=@newsDot.content%></p>
	<%else%>
		<p> For some odd reson, there's no news! </p>
	<%end%>
</div>
<br>	
</div>

