<div id="pageText">
<h1> Argh! You borked things, you ruddy twit! </h1>
<h2> There's no user with the ID "<%= params[:id] %>"!</h2>
<%= link_to 'Head back to safety!', sessions_home_path, class: "safety" %>
</div>