<div id="pageText">
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
 <% end %>
<div class= "Sign_Form">
<h1> Log In </h1>
<%= form_tag(:action => 'login_attempt') do %>
	<p>Username:<br> <%= text_field_tag(:username) %></p>
	<p>Password:</br><%= password_field_tag :login_password %></p>
	<%= submit_tag("Log In") %>
	<% end %>
</div>
</div>