<div id="pageText">

<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
 <% end %>

<center>
<%=image_tag @user.avatar.url(:medium) %>
</center>
<h2 class="Header"> <%=@user.name%>'s Profile </h2>
<div class="userbadge">
<% if @user.banned %>
<h2 class="TitleBanned"> <i class="fa fa-lg fa-fw fa-ban"></i>Banned - <%=@user.reason%></h2>
<%else%>
	<% if @user.title == 5 %>
	<h2 class="TitleAdmin"> <i class="fa fa-lg fa-fw fa-shield"></i>Administrator </h2>
	<%end%>
	<% if @user.title == 4%>
	<h2 class="TitleDev"> <i class="fa fa-lg fa-fw fa-gear"></i>Developer </h2>
	<%end%>
	<% if @user.title == 3%>
	<h2 class="TitleMod"> <i class="fa fa-lg fa-fw fa-legal"></i>Moderator </h2>
	<%end%>
	<% if @user.title == 2%>
	<h2 class="TitleSup"> <i class="fa fa-lg fa-fw fa-rocket"></i>Beta Tester </h2>
	<%end%>
	<% if @user.title == 1%>
	<h2 class="TitleDon"> <i class="fa fa-lg fa-fw fa-heart"></i>Donor </h2>
	<%end%>
	<% if @user.title == 0%>
	<h2 class="TitleMember"> <i class="fa fa-lg fa-fw fa-user"></i>Member </h2>
	<%end%>
<%end%>
</div>
<%if @current_user && @current_user.id != @user.id && !@user.banned%>
	<%if !@current_user.following?(@user) %>
		<h3 class = "subscribe"><%= link_to raw("<i class=\"fa fa-lg fa-fw fa-bookmark-o\"></i>Subscribe"), sessions_follow_user_path(:id => @user.id) %></h3>
	<%else%>
		<h3 class = "subscribe"> Subscribed </h3>
	<%end%>
<%elsif !@user.banned && @current_user.id != @user.id%>
	<h3 class = "subscribe"> Login To Subscribe </h3>
<%end%>
<br><br><br>
<hr>

<%if @dotobjecttexts.empty? %>
<%if @current_user and @user.id == @current_user.id %>
<h2> You've got no dots! Why don't you <%=link_to 'post', post_text_path %> one? </h2>
<%else%>
<h2> This user has no dots :( </h2>
<%end%>
<%else%>
	<%= render partial:"dotobjecttext", collection:@dotobjecttexts %>
<%end%>
</div>