<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Username:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Password:" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Age:" %>
    <%= f.select :age, (0..144) %>
  </div>
  <div class="field">
    <%= f.label "Photo:" %>
    <%= f.file_field :avatar %>
  </div>
  
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
