<div style="display:flex;justify-content:center;flex-direction:column;text-align:center;"> 
	<p class="logo_sub" style="color:#F93A3A;text-shadow: 0px 1px 1px #000;">Admin Panel</p>
	<div>
		<a href="/announcements/new">New Announcement</a>
	</div>
</div>