<nav>
<% if @current_user and(@current_user.title == 5 or @current_user.title == 3) %>
<a href = "/users">Mod Panel</a> |
<%end%>
<a href = "/users/new"> Sign Up</a> |
<a href = "/sessions/home">Home</a>
<% if @current_user %>
| <%= link_to 'Profile', sessions_profile_path(:id => @current_user.id)%>
| <%= link_to 'Logout', logout_path %>
| <b> Logged in as <%=@current_user.name%>. </b>
<% end %>
<div class="logo">
</nav>
<h1>Editing Profile</h1>

<%= render 'form' %>

