<div id="pageText">
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
 <% end %>
<h1>Moderator Panel</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Joined</th>
    <th>NOP(Text)</th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><b><%= link_to user.name, profile_path(:id => user.id) %></b></td>
    <td><%= user.age %></td>
    <td><%= user.joined %></td>
    <td><%= Dotobjecttext.where(:creator => user.id).count %>
    <%if user.title != 5 %>
    <%if user.banned %>
    <td><b><%= link_to 'Unban', users_unban_user_path(:id => user.id)%></b></td>
    <%else%>
    <td><b><%= link_to 'Ban', users_ban_user_path(:id => user.id)%></b></td>
    <%end%>
    <%end%>
    <br>
  </tr>
<% end %>
</table>

<br />
</div>

