<div style="text-align:center;">
<p class="welcome" style="font-size:36px;"><i class="fa fa-exclamation fa-4x text-danger"></i><br>You need to validate your account!</p>
<p style="font-size:24px;">Check your email (and spam folder) for an email detailing how to activate your account.</p>
</div>