<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
 <% end %>

<% if @current_user and (@current_user.title == 5 or @current_user.title == 3) %>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Password hash:</b>
  <%= @user.password_hash %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Joined:</b>
  <%= @user.joined %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<footer>
<hr>
<a href="http://dotsitenews.tumblr.com/"><img src="/assets/tumblr.png" height=25px width=25px></a>
<a href="https://twitter.com/TheDotTeam"><img src="/assets/twitter.png" height=25px width=25px></a>
<br>
<b>Copyright © 2013 Dot Ltd. All rights reserved </b> 
</footer>
<%else%>
<%flash[:error] = "You don't have those permissions!"%>
<%redirect_to(controller: "sessions", action:"home")%>
<%end%>
