<div class = "nav">
<a href = "/users">Profiles</a> |
<a href = "/users/new"> Sign Up</a> |
<b> Home</b> 
| <p> <%=@current_user.name%> </p>
</div>
<div class="logo">
</div>
<h1> <i> Coming Soon... </i> </h1>
