<div style="text-align:center; ">
	<%if not @current_user%>
	<%= image_tag("dot_logo_circle_alpha.png",  :width => 256, :height => 256, :style => "margin-top:10px;")%>
	<p class="logo_sub">Your favourite media - now.</p>
	<a href="/user/register" class="button-get-started">Get Started</a>
	<div style="display:flex;justify-content:center;">
	</div>
	<%else%>
	<p class="logo_sub">Welcome, <%=@current_user.username%></p>
	<p class="welcome">Here's what's been happening today on the tags you follow: </p>
	<%end%>
</div>