<div style="text-align:center; ">
	<p class="logo">Dot</p>
	<p class="logo_sub">Your favourite media - now.</p>
	<a href="#" class="button-get-started">Get Started</a>
	<div style="display:flex;justify-content:center;">
	</div>
</div>