<div class = "comment">
	<%=link_to(image_tag(User.where(:id => comment.creator).take(1).fetch(0).avatar.url(:thumb), :alt => User.where(:id => comment.creator).take(1).fetch(0).name, :title => User.where(:id => comment.creator).take(1).fetch(0).name, :class => "avatar"), profile_path(:id => comment.creator)) %>
	<a class = "commentauthor" href = <%=profile_path(:id => comment.creator)%>> <%= User.where(:id => comment.creator).take(1).fetch(0).name%></a><span class="commentdate"> - Posted <%=comment.created_at.to_formatted_s(:long)%></span>
	<p class = "commentcontent"> <%= comment.content %></p>
</div>