<%= form_for @newcomment, :url => comment_create_path do |f| %>
	<div class = "newcomment">
	<span class = "commentfield">
		<%= f.text_area :content, size: "30x7", :placeholder => "I think..." %>
	</span>
	<span class = "postcomment">
		<%= f.hidden_field :asset, :value => @dotobjecttext.id %>
		<%= f.submit "Post"%>
	</span>
</div>
<%end%>