<%= form_for(@dotobjecttext) do |f| %>
  <% if @dotobjecttext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dotobjecttext.errors.count, "error") %> prohibited this dotobjecttext from being saved:</h2>

      <ul>
      <% @dotobjecttext.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title:" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Description:" %>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label "Contents:" %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label "Private?" %>
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :nsfw, "NSFW Content?" %>
    <%= f.select(:nsfw, options_for_select([["None",0],["Nudity", 1],["Grimdark",2]])) %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
