<h1>Listing dotobjecttexts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desc</th>
    <th>Content</th>
    <th>Created</th>
    <th>Creator</th>
    <th>Dotdowns</th>
    <th>Dotups</th>
    <th>Private</th>
    <th>Nsfw</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dotobjecttexts.each do |dotobjecttext| %>
  <tr>
    <td><%= dotobjecttext.title %></td>
    <td><%= dotobjecttext.desc %></td>
    <td><%= dotobjecttext.content %></td>
    <td><%= dotobjecttext.created %></td>
    <td><%= dotobjecttext.creator %></td>
    <td><%= dotobjecttext.dotdowns %></td>
    <td><%= dotobjecttext.dotups %></td>
    <td><%= dotobjecttext.private %></td>
    <td><%= dotobjecttext.nsfw %></td>
    <td><%= link_to 'Show', dotobjecttext %></td>
    <td><%= link_to 'Edit', edit_dotobjecttext_path(dotobjecttext) %></td>
    <td><%= link_to 'Destroy', dotobjecttext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dotobjecttext', new_dotobjecttext_path %>
