<div id="pageText">
<p  class = "content">
<br>
<%= @dotobjecttext.content %> 
<br>
<br>
</p>
<hr>
<div class = "tconatiner">
<%=link_to(image_tag(User.where(:id => @dotobjecttext.creator).take(1).fetch(0).avatar.url(:thumb), :alt => User.where(:id => @dotobjecttext.creator).take(1).fetch(0).name, :title => User.where(:id => @dotobjecttext.creator).take(1).fetch(0).name, :class => "avatar"), profile_path(:id => @dotobjecttext.creator)) %>
<p class = "title"> <%= @dotobjecttext.title %> </p>
<a class = "author" href = <%=profile_path(:id => @dotobjecttext.creator)%>> <%= User.where(:id => @dotobjecttext.creator).take(1).fetch(0).name%> </a>
<p class = "score"> Score: <%=@dotobjecttext.plusminus%> </p>
</div>
<br>
<p class = "description"> <%= @dotobjecttext.desc %> </p>
<hr class = "drops">
<%= render 'commentform' %>
<div class = "comments">
	<% if !@comments.empty? %>
			<%= render partial:"comment", collection:@comments %>	
	<% else %>
		<br>
		<h1> No comments on this post? Why not post one?</h1>
	<% end %>
</div>
</div>