// Place all the styles related to the dotobjecttexts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.desc
{
	text-align:center;
	color:white;
}

.content
{
	text-align:left;
	color:black;
	background-color:beige;
	margin-left:10%;
	margin-right:10%;
	border-radius: 10px;
	border:5px solid beige;

}

.author
{
	line-height: 0px;
}

.avatar
{
	height:50px;
	width:50px;
	display:inline;
	float:left;
	padding-right: 3px;
}

.title
{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	line-height: 0px;
	padding-top: 0.5%;
	margin: 0;
	padding-bottom: 0.5%;
}

.up
{
	color:green;
	display:inline-block;
	text-align:center;
	//line-height: 0px;
}

.down
{
	color:red;
	display:inline-block;
	text-align:center;
	//line-height: 0px;
}

.score
{
	line-height: 0px;
	text-align: left;
	padding-top: -0.5%;
}

.commentauthor
{
	line-height: 12px;
	font-weight: 600;
	margin:0;
}

textarea
{
	border: 3px solid #5F8FD6;
	resize:none;
	font-family: verdana, arial, helvetica, sans-serif;
	outline: none;
  -webkit-transition: border 0.30s ease-in-out;
  -moz-transition: border 0.30s ease-in-out;
  -ms-transition: border 0.30s ease-in-out;
  -o-transition: border  0.30s ease-in-out;
  border-radius: 10px;
}

textarea:focus
{
	border: 3px solid #0067FF
}

.comment
{
	background-color: #5084E2;
	height:auto;
	border-radius: 20px;
	width:25%;
	padding:10px;
	margin-bottom:10px;
}