// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
background-color:#000000;
}

div.logo
{
background-image: url("rails.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
		
}


img
{
	margin-left:auto;
	margin-right:auto;
	
}