html
{
  height:100%;
  min-height: 100%;
}
body {
  //background-color:#B6B6B6;
  background-color:#99BDFF;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position:relative;
  min-height: 100%;
  height:100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a img
{
  border:0;
}

a#logo
{
  height:50px;
  width:100px;
  padding-top:46px;
}

.socialMediaButton
{
  color:#333;
}

.socialMediaButton:hover
{
  color:#555;
}

nav
{
  width: 100%;
  top:0;
  position:fixed;
  //background-color: #585C58;
  background-color: #006C7F;
  right:0;
  left:0;
  padding-bottom:8px;
  //border-bottom:3px solid #00414D;
  box-shadow: 0px 5px 10px #00414D;
  z-index:300;
}

nav ul
{
  list-style-type:none;
  padding-left:20px;
  margin:0;
  li
  {
    display:inline;
    height:inherit;
    //background-color: #585C58;
    background-color: #006c7f;
    width:100px;
    height:50px;
    b
    {
      text-decoration:none;
      color:#FFFFFF;
      text-align:center;
      padding:4px;
      font-weight:bold;
      font-family:  verdana,helvetica,arial,sans-serif; 
    }
    a
    {
      text-decoration:none;
      color:#FFFFFF;
      text-align:center;
      padding:4px;
      font-weight:bold;
      font-family:  verdana,helvetica,arial,sans-serif; 
    }
  }
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

footer
{
  width: 100%;
height: 10px;
bottom: 0;
left: 0;
position: relative;
}

a {
  color: #000;
  &:hover {
    color: #fff;
  }
}

.userbox
{
  h2
  {
    //color: #5F6D9F;

    }
  border: 5px solid #2E51CF;
  padding: 5px;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  
}

  .voteup
  {
    color:#0F0;
  }
  .votedown
  {
    color:#F00;
  }

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1
{
  //color: #5F6D9F;
  color:#2E51CF;
  text-align: center;
}

h2
{
  //color: #5F6D9F;
  color:#476FFF;
  text-align: center;
}

h3
{
  //color: #5F6D9F;
  color: #426BFF;
}

.notice {
  color: #006C7F;
  text-align:center;
  border: 2px solid #006C7F;
  background-color: #00D8FF;
  border-radius:10px;
  background-repeat: no-repeat;
  background-position: 1% 50%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}


.error {
  color: red;
  text-align:center;
  border: 2px solid red;
  background-color: #FFAAAA;
  border-radius:10px;
  background-repeat: no-repeat;
  background-position: 1% 50%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.rssttl {
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  color: #FFFFFF;
  font-weight: bold;
        margin: 0px 0;
  padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:    -moz-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:     -ms-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:      -o-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
}

.dashed
{
  border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:    -moz-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:     -ms-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
    background-image:      -o-linear-gradient(left, #B6B6B6, #000, #B6B6B6); 
}

.drops
{
    height: 10px;
    border: 1;
    background-image: none;
    box-shadow: inset 0 9px 3px -3px #6590DD;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
    background:#2C4A81;
}

#pageText
{
    padding-top:80px;
}

.splashText
{
  display:inline;
  vertical-align: middle;
  float:right;
  //border-left: 1px solid gray;
  padding-left: 10px; 
  p
  {
    text-align:center;
  }
}

.feedlist
{
  list-style: none;
}








/* begin styles for RSS Feed */

.rss-box {
  display:block;
  width: 78%;
  float:left;
  //background-color: #000;
  text-align: left;
  vertical-align: middle;
  margin: 0px;
  padding: 5px;
  height: 100%;
  //border-top: 1px solid #99CCFF;
  //border-right: 1px solid #99CCFF;
  //border-bottom: 1px solid #99CCFF;
  //border-left: 1px solid #99CCFF;
}
.rss-items {
  padding:5px;
  color:#0066FF;
  margin: 0px;

}

p.rss-title {
  margin: 0px;
  padding:3px;
  font-family:Arial;
  font-size: 10px;
  font-weight: bold;
  color: #000000;
  background-color:#0066FF;
  border-top: 5px ridge #99CCFF;
  border-right: 5px ridge #99CCFF;
  border-bottom: 5px ridge #99CCFF;
  border-left: 5px ridge #99CCFF;
  
  
}
.rss-title, rss_title a {
  text-decoration: none;
  font-family: Tahoma;
  font-size: 20px;
  background-color: #0066FF;
  color:#000000;
  font-weight:bold;
  margin: 0px;
  padding:0px;
  text-align: left;
        text-transform: uppercase;
        letter-spacing: 1;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #ffffff;
}

.rss-item  {
  font-family: Arial;
  font-size: 10px;
  font-weight : bold;
  color: #0033FF;
        letter-spacing: 1;
  list-style: none;
  margin-bottom: 6px;
  padding:0;

}

li.rss-item {
  border:10px ridge white;
  background-color:white;
  /*border-radius:10px;*/
}

.rss-item a {
  color:#0066FF;
  font-size: 15px;
  font-weight:bold;
  font-family: Arial;
  font-style: bold;
  text-decoration: none;
  text-indent: 0px;
  line-height: 12px;
  letter-spacing: 1;
  text-align: left;
  vertical-align: bottom;
  word-spacing: normal;
  }
  
.rss-item a:visited {
  color:#0066FF;
}
.rss-item a:hover {
  color:#0066FF;
  text-decoration: underline;
}

.rss-date {
  font-size: 10px;
  font-weight : normal;
  color: #0066FF;
  font-family: Arial;
  } 
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }


//FONT AWESOME
