// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Header
{
	text-align:center;
}
.TitleBanned
{
    text-align:center;
    color:#FC0B0B;
}
.TitleAdmin
{
	text-align:center;
	color:#8e008e;
}
.TitleMember
{
	text-align:center;
	color:#006b6b;
}
.TitleDev
{
	text-align:center;
	color:#990000;
  
}
.TitleMod
{
	text-align:center;
	color:#cbcc00;
}
.TitleSup
{
	text-align:center;
	color:#7cb07c;
}
.TitleDon
{
	text-align:center;
	color:#0067c1;
}

.AdminBan
{
	color:#8e008e;
}
.ModBan
{
	color:#cbcc00;
}
.placeholder
{
	color:#00FF00;
}
.Sign_Form form
{
	text-align:center;
}


.newsElement
{
    text-align: center;
    h1
    {
        //color:#39415F;
        text-decoration: underline;
    }
    h2
    {
        //color:#404A6C;
    }
    h3
    {
        //color: #5F6D9F;
    }
    p
    {

    }
}

.dot
{
    height:150px;
    width:150px;
    text-align:center;
    background-color:blue;
    border:10px blue solid;
    border-radius:150px;
    margin: 13px auto;
    color:#FFF;
    //box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 1);
    z-index: 100;
}

.dottag
{
    height:10px;
    width:10px;
    text-align:center;
    background-color:gray;
    border:5px gray solid;
    border-radius:100px;
    color:#FFF;
    margin: 2px;
}

.dotoutline
{
    width:200px;
    height:200px;
    border:10px blue solid;
    border-radius:150px;
    text-align:center;
   //box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    //position: absolute;
    display: inline-block;
}

.subscribe
{
    text-align:center;
}
.dottagout
{
    width:25px;
    height:25px;
    position:absolute;
    top:0px;
    border:5px gray solid;
    border-radius:100px;
    text-align:center;
}


.updot
{
    color:green;
}

.downdot
{
    color:red;
}

.Sign_Form form p
{
	color:#333;
    font-weight:bold;
}

a.safety {
  text-align: center;
  display:block;
  width:100%;
  text-transform: uppercase;
}


.dir_user
{
    list-style:none;
    border: 5px gray solid;
    width:25%;
    height:75px;
    display:inline-table;
    //position: static;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}