// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
	height:100%;
	background-color: #FFF0C8;
	font-family: 'Josefin Sans', sans-serif;
}

main
{
	display: -webkit-box;     
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
 	display: flex;
	justify-content: center;
	min-height: 100%;
	height:100%;
	margin-bottom:25%;
	font-family: 'Josefin Sans', sans-serif;
}

.news_container
{
	display: -webkit-box;     
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.welcome
{
	font-size:24px;
}

.user_box
{
	display: -webkit-box;     
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	flex-direction:column;
}

.news_item
{
	background-color:#FFF;
	width:50%;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	border-radius:10px;
	.news_title
	{
		font-size:36px;
	}
	.news_snippet p
	{
		font-size:16px;
	}
}
.logo
{
	font-size:128px;
	font-family: 'Pacifico', cursive;
}

.logo_sub
{
	font-size:48px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 80px;
}

.username-larger
{
	font-size:32px;
}

.button-get-started
{
	@extend .accent-one;	
	font-size:32px;
	font-family: 'Josefin Sans', sans-serif;
	margin-right:auto;
	margin-left:auto;
	border-radius:10px;
	box-shadow: #94D081 0px 0px 10px;
	transition:0.25s;
	padding: 10px 10px 10px 10px;
	color:#000;
	text-decoration: none;
}

.button-get-started:hover
{
	@extend .accent-one;
	box-shadow: #94D081 0px 0px 20px;
	transition: 0.25s;
	color:#000;
}

footer
{
	height:100px;
	text-align:center;
	border-top:1px solid black;
	width:80%;
	margin-left:10%;
}

.avatar
{
	border-radius:132px;
	box-shadow: #000 0px 0px 10px;
}

.alert
{
	margin-top:2.5%;
	text-align:center;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

a.social_media
{
	color:#000;
	background-color:#FFF0C8;
	transition: 0.25s;
}

a.social_media:hover
{
	color:#555;
	background-color:#FFF0C8;
	transition: 0.25s;
}

.accent-one
{
	background-color:#A0F185;
}

.accent-two
{
	background-color:#9099FF;
}

.alert-error
{
	background-color:#FFADAD;
	border:solid #DC7272 5px;
}

.alert-success
{
	background-color: #98FD98;
   	border: solid #7EE07E 5px;
}

.alert-warning
{
	background-color: #FDFA98;
   	border: solid #E0DD7E 5px;
}

.alert-announcement
{
	background-color: #98D8FD;
   	border: solid #7EC5E0 5px;
}

.usertitle
{
	font-size:24px;
	padding: 5px 5px 5px 5px;
	width:auto;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	   box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.user
{
	background-color: #A3DCA4;
}

.premium
{
	background: #ead04b; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ead04b 0%, #f7f7f7 19%, #ead04b 30%, #f7f7f7 50%, #ead04b 67%, #f7f7f7 84%, #ead04b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ead04b), color-stop(19%,#f7f7f7), color-stop(30%,#ead04b), color-stop(50%,#f7f7f7), color-stop(67%,#ead04b), color-stop(84%,#f7f7f7), color-stop(100%,#ead04b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ead04b 0%,#f7f7f7 19%,#ead04b 30%,#f7f7f7 50%,#ead04b 67%,#f7f7f7 84%,#ead04b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ead04b 0%,#f7f7f7 19%,#ead04b 30%,#f7f7f7 50%,#ead04b 67%,#f7f7f7 84%,#ead04b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ead04b 0%,#f7f7f7 19%,#ead04b 30%,#f7f7f7 50%,#ead04b 67%,#f7f7f7 84%,#ead04b 100%); /* IE10+ */
	background: linear-gradient(135deg, #ead04b 0%,#f7f7f7 19%,#ead04b 30%,#f7f7f7 50%,#ead04b 67%,#f7f7f7 84%,#ead04b 100%); /* W3C */
}


.moderator
{
	background-color: #A3DCD9;
}

.hacker
{
	background-color: #C13636;
}

.admin
{
	background-color: #C3A3DC;
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff0000 0%, #ff8000 16%, #ffff00 32%, #00ff00 48%, #0000ff 64%, #4000ff 82%, #8000ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(16%,#ff8000), color-stop(32%,#ffff00), color-stop(48%,#00ff00), color-stop(64%,#0000ff), color-stop(82%,#4000ff), color-stop(100%,#8000ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ff8000 16%,#ffff00 32%,#00ff00 48%,#0000ff 64%,#4000ff 82%,#8000ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ff0000 0%,#ff8000 16%,#ffff00 32%,#00ff00 48%,#0000ff 64%,#4000ff 82%,#8000ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ff0000 0%,#ff8000 16%,#ffff00 32%,#00ff00 48%,#0000ff 64%,#4000ff 82%,#8000ff 100%); /* IE10+ */
	background: linear-gradient(135deg, #ff0000 0%,#ff8000 16%,#ffff00 32%,#00ff00 48%,#0000ff 64%,#4000ff 82%,#8000ff 100%); /* W3C */
	color:white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	/*.fa 
	{
    		-webkit-animation-name: rainbow-colours;
    		-webkit-animation-duration: 8s;
    		-webkit-animation-iteration-count: infinite;
   		 -webkit-animation-timing-function: linear;
   	}*/
}



@-webkit-keyframes rainbow-colours
{
	0%
	{
		color:red;
	}
	12.5%
	{
		color:orange;
	}
	25%
	{
		color:yellow;
	}
	37.5%
	{
		color:green;
	}
	50%
	{
		color:blue;
	}
	62.5%
	{
		color:indigo;
	}
	75%
	{
		color:violet;
	}
	87.5%
	{
		color:white;
	}
	100%
	{
		color:red;
	}
}

nav
{
	background-color:#483324;
	width:80%;
	height:5%;
	padding-top:0.75%;
	padding-bottom:0.75%;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	ul
	{
		color:#fff;
		list-style:none;
		li
		{
			display:inline;
			a, p
			{
				color:#fff;
				text-decoration:none;
				background-color:#483324;
				transition:0.25s;
				padding:5px;
				border-radius:10px;	
				font-weight:bold;	
				display:inline;	
				font-family: 'Josefin Sans', sans-serif;
				font-size:16px;	
			}
			a:visited
			{
				color:#fff;
			}
			a:hover
			{
				background-color:#B07F5B;
				transition:0.25s;
			}
		}
	}
}
