// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{

}

div.bck a
{
text-align:center;
display:block;
}

nav a
{
		display: inline;
		width: 100px;

}


div.logo
{
		background-image: url("dotbanner300x100.png");
        background-repeat: no-repeat;
        background-position: center;
		margin-left:auto;
		margin-right:auto;
		display: block;
        height: 100px;
		width: 300px;
}
label
{
color: #008800;
}
	
table
{
	background-position: center;
	margin-left:auto;
	margin-right:auto;
}
th
{
	color: #00281b;
}
td
{
	padding-left:10px;
	padding-right:10px;
	border-top: 2px solid #00281b;
	border-bottom: 2px solid #00281b;
	border-radius:10px;
	color: #00281b;
	box-shadow: 0 3px 5px rgba(128, 128, 128, 1);
	a
	{
		color: #00281b;
	}
}

div.field, div.actions
{
	text-align:center;
	
}