<div style="display:flex;flex-direction:column;justify-content:center;text-align:center;">
	<p class="logo_sub" style="font-size:180px;margin-top:50px;margin-bottom:100px;color:#fa0a11;">404</p>
	<p style="font-size:24px;">Can't say I know what you're looking for!</p>
</div>