<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Sizex</th>
    <th>Sizey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= image.parent %></td>
    <td><%= image.sizeX %></td>
    <td><%= image.sizeY %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
