<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @image.parent %>
</p>

<p>
  <b>Sizex:</b>
  <%= @image.sizeX %>
</p>

<p>
  <b>Sizey:</b>
  <%= @image.sizeY %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
