<!DOCTYPE html>
<html>
<head>
  <title>Dot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<nav>
<ul>
<li> <a id = "logo" href = "/"> <%=image_tag("dot200x50.png" , :height => '50', :width => '100') %></a></li>
<% if @current_user and(@current_user.title == 5 or @current_user.title == 3) %>
<li><a href = "/users"><i class=" fa fa-lg fa-fw fa-shield"></i>Mod Panel</a></li>
<%end%>
<% if @current_user %>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-user\"></i>#{@current_user.name}"), profile_path(:id => @current_user.id) %></li>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-sign-out\"></i>Log Out"), logout_path %> </li>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-plus-circle\"></i>Post"), post_text_path %> </li>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-globe\"></i>Feed"), myhome_path %> </li>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-sitemap\"></i>Directory"), directory_path %></li>
<%else%>
<li> <%= link_to raw("<i class=\"fa fa-lg fa-fw fa-sign-in\"></i>Log In"), login_path %> </li>
<li><%= link_to raw("<i class=\"fa fa-lg fa-fw fa-ticket\"></i>Sign Up"), signup_path %></li>
<% end %>
</ul>
</nav>

<%= yield %>

<footer>
<hr>
<a href="https://twitter.com/PunktCreative" class = "socialMediaButton" target="_blank"><i class = "fa fa-2x fa-fw fa-twitter-square"></i></a>
<a href="https://github.com/PunktCreative" class = "socialMediaButton" target="_blank"><i class = "fa fa-2x fa-fw fa-github-square"></i></a>
<a href="http://punktnews.tumblr.com" class = "socialMediaButton" target="_blank"><i class = "fa fa-2x fa-fw fa-tumblr-square"></i></a>
<br>
<b>Copyright © 2013 Punkt Creative Ltd. All rights reserved </b>	
</footer>
</body>
</html>
